{% extends 'base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-3">Liste des Articles</h1>

        <a href="{{ path('articles_new') }}" class="btn btn-primary btn-primary-custom mb-3">Ajouter un article</a>

        <table class="table table-striped table-hover">
            <thead class="table-light">
                <tr>
                    <th>Id</th>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Date Article</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td>{{ article.titre }}</td>
                    <td>{{ article.description }}</td>
                    <td>{{ article.dateArticle ? article.dateArticle|date('d-m-Y') : '' }}</td>
                    <td>
                        <a href="{{ path('articles_show', {'id': article.id}) }}" title="Afficher"><i class="fa-solid fa-eye"></i></a>
                        <a href="{{ path('articles_edit', {'id': article.id}) }}" title="Modifier"><i class="fa-solid fa-pen-to-square"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucun enregistrements</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    
        
    </div>
{% endblock %}
